.container{
    width: 80%;
    min-height: 700px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
}
td,th{
    padding: 15px 15px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-color: grey;
    border-style: solid;
}
thead {
    background: #BDBDBD;
}
table {
    width: 80%;
    margin: 0 auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}
input[type="text"]{
    padding: 0.5%;
    border-radius: 10px;
    width: 50%;
    margin: 0.4%;
}
.botao{
    font-family: Raleway-Bold;
    font-size: 16px;
    cursor: pointer;
    margin: 1%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    background-color: #333333;
    border-radius: 27px;
    transition: all 0.4s;
}
.botao:hover {
    background: #15718A;
}
.borda{
    border-color: red;
}